/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 21, 2016, 1:43:49 AM
    Author     : defri
*/
#custom-text-field
{

    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}
 
#custom-text-field:hover
{
    -fx-background-color: transparent, white, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}
 
#custom-text-field:focused
{
    -fx-background-color: transparent, #2c3e50, transparent, #2c3e50;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}

