/*
 * Empty Stylesheet file.
 */

.button{
    -fx-background-color: #2c3e50;
}
.button:hover{
    -fx-background-color:#5c6f83;
}

.textfield{
    -fx-background-color: transparent;
}

.pane{
    -fx-border-width: 1px;
    -fx-border-bottom: 2px;
    -fx-border-color:#cccccc;
}