/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.menubutton{
    -fx-background-color:#2c3e50;
    /*    -fx-background-color:linear-gradient(#2c3e50,#34495e,#2c3e50);*/
}


.menubutton:hover{
    -fx-background-color:linear-gradient(#34495E,#3A5169,#34495E);
}

#menuButton{
    -fx-background-color:#2c3e50;
}
#menuButton:focused{
    -fx-font-weight: bold;
}
#menuButton:active{
    -fx-font-weight: bold;
}
#menuButton:pressed{
    -fx-font-weight: bold;
}

#menuButton:hover{
    -fx-background-color:linear-gradient(#34495E,#3A5169,#34495E);
}
